.DS_Store
.sfdx
.project
.salesforce
.settings
node_modules
.idea

.prettierignore
.prettierrc
/config/
/force-app/main/default/lwc/jsconfig.json
/jest.config.js

.eslintignore
.husky/

*.cls-meta.xml
!*.cls-meta.xml
*.trigger-meta.xml
!*.trigger-meta.xml