.DS_Store
.sfdx
.project
.salesforce
.settings
node_modules
.idea

.prettierignore
.prettierrc
/config/
/force-app/main/default/lwc/jsconfig.json
/jest.config.js

.eslintignore
.husky/

.build
.dist

*.cls-meta.xml
!/meta/.cls-meta.xml
*.trigger-meta.xml
!/meta/.trigger-meta.xml
